<!--Copyright 2016 Richard Rodrigues, Nyle Rodgers, Mark Williams, Virginia Tech

    This file is part of Coremic.

    Coremic is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Coremic is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Coremic. If not, see <http://www.gnu.org/licenses/>.
  -->
<!DOCTYPE html>
<html>
  <head>
      
      
    <!-- Required for bootstrap -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script
       src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    
    <title>{% block title %}Core Microbiome{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="static/stylesheets/main.css">
  </head>
  <body class="container">
    <div id="content">
      {% block content %}{% endblock %}
      <div id="footer">
        <small>
          Coremic Version 2.0.alpha <br>

          Developed by Rodrigues RR, Rodgers NC, Wu X, and Williams MA,
          Virginia Tech. <br>

          Acknowledgements: GAE, BIOM. <br>

          This tool is free to use for non-profit or research purposes. <br>

          For questions or feature requests, please email
          <a href="mail:richrr@vt.edu">richrr@vt.edu</a> and 
          <a href="mail:Dr.RichRodrigues@gmail.com">Dr.RichRodrigues@gmail.com</a> and 
          <a href="mail:markwill@vt.edu">markwill@vt.edu</a>.
        </small>
      </div>
    </div>
  </body>
</html>
