<!--Copyright 2016 Richard Rodrigues, Nyle Rodgers, Mark Williams, Virginia Tech

    This file is part of Coremic.

    Coremic is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Coremic is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Coremic. If not, see <http://www.gnu.org/licenses/>.
  -->
{% extends "base.html" %}
{% block title %}Core Microbiome{% endblock %}
{% block content %}
<a href="/">back</a>
<h1>Documentation</h1>
The COREMIC tool is a webtool hosted on google app engine and written in
python. For details about the algorithm used in the tool, please refer to and
cite: &lt;&hellip;&gt;

<h2>Table of Contents</h2>
<ol>
  <li><a href="#input_files">Input files</a></li>
  <li><a href="#options">Options</a></li>
  <li><a href="#outputs">Output Files</a></li>
  <li><a href="#method">Method details</a></li>
  <li><a href="#sample_data">Sample Data</a></li>
  <li><a href="#post_processing">Post Processing</a></li>
  <li><a href="#faq">FAQs</a></li>
</ol>
<h2 id="input_files">Input files</h2>
The tool needs exactly two input files
<h3>Datafile</h3>
<p>
  The file basically contains abundance information of OTUs across samples.
  Please refer <a href="http://biom-format.org/index.html"> here</a> for
  details of the BIOM format and how to convert from a traditional tab
  delimited OTU table to BIOM format file. <b>Please make sure the header
    &ldquo;taxonomy&rdquo; is present.</b> If the OTUs specified under the
  taxonomy header are not unique, <b>rows with the same OTU label will be
    combined, with their values summed.</b>
</p>
<p>
  Most often the datafile will be an output from the OTU picking step from
  QIIME or other tools. A QIIME 1.8 compatible sample
  <a href="http://biom-format.org/documentation/format_versions/biom-1.0.html">
    BIOM 1.0 format file</a> looks like:
</p>
<pre>
  {
  "id": "None",
  "format": "Biological Observation Matrix 1.0.0",
  "format_url": "http://biom-format.org",
  "type": "OTU table",
  "generated_by": "BIOM-Format 1.3.1",
  "date": "2016-01-14T19:49:54.900111",
  "matrix_type": "sparse",
  "matrix_element_type": "float",
  "shape": [678, 59],
  "data": [[0,0,4.0],
  [0,1,2.0],
  [0,6,1.0],
  [0,7,10.0],
  ...
  [677,55,18.0],
  [677,56,33.0],
  [677,57,8.0],
  [677,58,14.0]],
  "rows": [{"id": "1", "metadata": {"taxonomy": "k__Bacteria"}},
  {"id": "2", "metadata": {"taxonomy": "k__Bacteria;p__Acido...;f__;g__;s__"}},
  {"id": "3", "metadata": {"taxonomy": "k__Bacteria;p__Basido...;f__;g__;s__"}},
  {"id": "4", "metadata": {"taxonomy": "k__Bacteria;p__Proteo...;f__;g__;s__"}},
  ...
  {"id": "675", "metadata": {"taxonomy": "k__Bacteria;p__WS3...;f__XYZ;g__;s__"}},
  {"id": "676", "metadata": {"taxonomy": "k__Bacteria;p__WS3...;f__PRR;g__;s__"}},
  {"id": "677", "metadata": {"taxonomy": "k__Bacteria;p__WS3...;f__;g__;s__"}},
  {"id": "678", "metadata": {"taxonomy": "Unassigned"}}],
  "columns": [{"id": "SAMP1", "metadata": null},
  {"id": "SAMP1", "metadata": null},
  {"id": "SAMP2", "metadata": null},
  ...
  {"id": "SAMP58", "metadata": null},
  {"id": "SAMP59", "metadata": null}]
  }
</pre>

<p>
  Multiple datafiles can selected for processing; they will automatically be
  combined, removing any OTUs that are not present in all the datafiles. This
  feature requires a browser that supports HTML5 multiple file upload.
</p>


<h3>Group file</h3> 
<p>
  This <b>tab-delimited</b> file contains information about the samples and the
  groups to which they belong. "#SampleID" and a group of interest columns are
  required. Other columns will be ignored. Most often this file will be an
  input to the OTU picking step from QIIME or other tools. A QIIME 1.8
  compatible sample 
  <a href="http://qiime.org/documentation/file_formats.html#mapping-file-overview">
    group file</a> looks like:
</p>
<pre>
  #SampleID	Person
  SAMP1  	Good
  SAMP2 	Bad
  SAMP3 	Neutral
  ...
  SAMP58	Neutral
  SAMP59	Bad
</pre>

<h2 id="options">Options</h2>
These are some of the options that need to provided:
<dl>
  <dt>Name for output/label</dt>
  <dd>This helps you to keep track of what this run indicates. It will be
    included in name of all attached result files and the subject of all emails
    about your run.</dd>
  
  <dt>Factor</dt>
  <dd>Enter the exact string of the factor with which your interest group is
    identified. For example, to calculate the core microbome of "Good" people
    under the "Person" column, enter "Person". This should be one of the column
    headers in your group file.</dd>
  
  <dt>Interest Group</dt>
  <dd>Entor the exact string of the value under the column specified as the
    factor to be used to identify the interest group. For example, to calculate
    the core microbiome of "Good" people under the &ldquo;Person&rdquo; column,
    enter &ldquo;Good&rdquo;. All samples not matching this value in the
    specified column will be considered to be a part of the out group.
    Multiple values may be specified separated by a comma and optional
    whitespace; for example, to use all people who are either &ldquo;Good&rdquo;
    or &ldquo;Neutral&rdquo; as the interest group, enter
    &ldquo;Good, Neutral&rdquo;.</dd>
  
  <dt>Interest Group Name</dt>
  <dd>A plain-english name for the interest group. This will be used in
    generating the output files.</dd>
  
  <dt>Out Group Name</dt>
  <dd>The same as the interest group name, but for the out group</dd>
  
  <dt>Include Out Group Results</dt>
  <dd>Selecting this will cause the analysis to be automatically re-run with
    the interest group and out group definitions switched, and will attach the
    results from both runs to the results email. For example, if the interest
    group was specified as &ldquo;Good&rdquo; under the &ldquo;Person&rdquo;
    factor and this was checked, the results would also include the results of
    running the analysis with &ldquo;Neutral, Bad&rdquo; as the interest group.
  </dd>
  
  <dt>Maximum Adjusted <i>p</i>-Value</dt>
  <dd>The maximum <i>p</i>-value to keeep after adjustment for multiple
    testing, I.E. the highest allowable probability of a false positive. The
    exact interpretation for this value will depend on which <i>p</i>-value
    adjustment method is used.
  </dd>

  <dt>Minimum Fractional Presence</dt>
  <dd>The minimum portion of the interest group samples that an OTU must be
    present in to be considered a part of the core. This value should be
    between 0 and 1. A value of 0.9 would mean that an OTU must be present
    in at least 90% of the interest group samples to be considered for the core.
  </dd>

  <dt>Maximum Out-Group Fractional Presence</dt>
  <dd>The maximum portion of the out group samples that an OTU can be present
    in and considered a part of the core for the interest group.
    This value should be between 0 and 1. A value of 0.75 would mean that an
    OTU must be present in less than 75% of the out group samples to be
    considered for the core.
  </dd>

  <dt>Make Abundance Relative</dt>
  <dd>If this is checked then all values in the input datafile will be
    converted to relative abundance value, from absolute abundance values.
    The values will be adjusted such that the sum of the abundances for
    each sample adds up to 1. Note that if this is checked the Minimum
    Abundance should be specified as a relative (0 to 1) abundance as well.</dd>

  <dt>Quantile Normalize</dt>
  <dd>If this is checked then Quantile normalize the columns of the input
    datatable before processing. This will occur after relativising if both
    are selected. Ties are broken in an arbitrary but deterministic
    fashion.</dd>
  
  <dt>Minimum Abundance</dt>
  <dd>The minimum abundance a measurement must have to be considered present.
    This can be a relative or absolute abundance depending on which the
    datafile uses. The default is to use a minimum abundance of zero, I.E. an
    OTU is considered to be present in a sample if it has a non-zero abundance.
    This option can be helpful in cases where noise can result in small,
    non-negative readings for measurements that should, ideally, be zero.</dd>
  
  <dt><i>p</i>-Value Adjustment Method</dt>
  <dd>What methodology to use to adjust the results to compensate for multiple
    testing. Bonferroni and Bonferroni-Holm correct for the probability that
    there will be one or more false positives in the results within a specific
    threshold. Benjamini Hochberg corrects for the proportion of false
    discoveries.</dd>
  
  <dt>Email</dt>
  <dd>The email address where you want your results emailed. <b>Your results
      are NOT stored;</b> you will only get these results via email. </dd>
</dl>

<h2 id="outputs">Output Files</h2>
<p>When the tool is finished running the results will be emailed to the email
  address that was given. The results of the analysis are attached to the email
  as a .tsv file, which can be opened in a number of programs including Excel.
  This file will contain the OTUs that were found to be in the core, the
  adjusted and non-adjusted p-value for each OTU, and the presence threshold it
  was found at.
</p>

<p>Additionally, for each significance threshold a graph is generated showing
  the OTUs found to be significant in that threshold and their average
  abundance across the samples in the interest group and the out group.
  Because OTU names are often too long to fit on the graph, the bars are
  labeled with integers and a .tsv file is included for each graph relating
  the integer labels with the OTU names. Additionally, the .tsv file includes
  the presence fraction in the in and out groups for each OTU. The graphs are
  provided as a .svg file to allow enlargement and editing as necessary.</p>

<h2 id="method">Method Details</h2>
Currently, the tool uses presence absence data to identify core
microbiome OTUs. A one tailed Fisher's exact test is used to filter the data to OTUs that are significantly more present in the interest group than in the out group. After this, the results are filtered again based on fractional presence in the interest group and out group, yeilding the final results.<br>
<img src="static/images/ms3-core-microb-overflow-latest-website.svg" 
     alt="Algorithm" width="600"> <br>

Future versions of this tool will include more complicated algorithms.

<h2 id="sample_data">Sample Data</h2>
<p>Two sample datafile-groupfile pairs are provided:</p>
<ul>
  <li>Switchgrass data that has been assembled from
    <a href="http://onlinelibrary.wiley.com/doi/10.1111/gcbb.12289/full">
      Jesus et. al. 2016</a>
    and from
    <a href="http://onlinelibrary.wiley.com/doi/10.1111/gcbb.12396/full">
      Rodrigues et al. 2016</a>.<br>
    <a href="static/sample_data/switchgrass.biom">Datafile</a> and
    <a href="static/sample_data/switchgrass.txt">groupfile</a>. Additionally, the datafile is available as a tsv file <a href="static/sample_data/switchgrass.biom.txt">here</a>.
  </li>
  <li>Invasive fungi data from
    <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0141424">
      Rodrigues et al. 2015</a>.<br>
    <a href="static/sample_data/invasive_fungi.biom">Datafile</a> and
    <a href="static/sample_data/invasive_fungi.txt">groupfile</a>.
  </li>
</ul>  

<h2 id="post_processing">Post Processing</h2>
<p>The results are given in TSV form to allow them to be easialy imported into
  any other processing you may wish to do. This format can be imported into
  Excel and is easy to parse from code.</p>
<p>Additionally, we have created a script to visualize the core OTUs
  taxonomically by generating a tree of them. This tree shows the core of both
  the interest and the out group with the <i>p</i>-value and OTU name for each
  OTU. The script can be downloaded
  <a href="scripts/visualize_core.py">here</a>. It requires that
  <a href="http://etetoolkit.org/download/">ete3</a> be installed. Run
  "visualize_core.py -h" for help.</p>

<h2 id="faq">FAQs</h2>
<h3>How long does it take to run?</h3>
<p>When run on the provided sample data, which has 59 samples and 678 OTUs, it
  takes about a minute to run on the default settings, looking at the interest
  group "Sw" under the "Plant" column. It may take longer for your data to run
  in some cases, such as if it is a significantly larger dataset or we suddenly
  recieve a large number of analysis requests.</p>

<h3>What browsers are supported?</h3>
<p>All of the processing is done on our server, so all browsers should be able
  to use this tool. The form does use some HTML5 features to help you make sure
  the information you put in is correct; these are not supported in some older
  browsers such as Internet Explorer 8, and are only partialy supported in
  Safari, but they are only used to help ensure user entered data is valid,
  and are not necessary for the tool to function.</p>

<h3>Why didn't I get my results?</h3>
<p>If you have waited a long time (over thirty minutes) and still haven't
  recieved your results check your spam folder to make sure they didn't end up
  in there. If your results are not in your spam folder either send us an email
  with your input parameters and files, as well as when you submitted your task
  and we will try to figure out what went wrong.</p>     
{% endblock %}
