<!--Copyright 2016 Richard Rodrigues, Nyle Rodgers, Mark Williams, Virginia Tech

    This file is part of Coremic.

    Coremic is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Coremic is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Coremic. If not, see <http://www.gnu.org/licenses/>.
  -->
{% extends "base.html" %}

{% block title %}Core Microbiome{% endblock %}
{% block content %}
<h1>Calculate Significance of Core Microbiome</h1>
<form action="/" enctype="multipart/form-data" method="post" class="form-horizontal">
  <p class="help-block">
    See <a href="help">here</a> for help.
  </p>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="datafile">Datafile</label>
    <div class="col-sm-8">
      <input type="file" id="datafile" name="datafile" size="40" required multiple>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="groupfile">Group file</label>
    <div class="col-sm-8">
      <input type="file" id="groupfile" name="groupfile" size="40" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="name">Name for output/label</label>
    <div class="col-sm-8">
      <input id="name" class="form-control" type="text" name="name" placeholder="Zen-output" size="30" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="factor">Factor</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="factor" name="factor" placeholder="Person" size="30" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="group">Interest Group</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="group" name="group" placeholder="Good" size="30" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="group_name">Interest Group Name</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="group_name" name="group_name" placeholder="Good people" size="30" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="out_group_name">Out Group Name</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" d="out_group_name" name="out_group_name" placeholder="Bad people" size="30" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="include_out">Include Out-Group Results</label>
    <div class="col-sm-8">
      <div class="form-check">
	<input type="checkbox" class="form-check-input" id="include_out" name="include_out">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="max_p">Maximum Adjusted <i>p</i>-Value</label>
    <div class="col-sm-8">
      <input type="number" class="form-control" id="max_p" name="max_p"
             value="0.05" step="any" min="0" max="1" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="min_frac">Minimum Fractional Presence</label>
    <div class="col-sm-8">
      <input type="number" class="form-control" id="min_frac" name="min_frac"
             value="0.90" step="any" min="0" max="1" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="min_frac">Maximum Out-Group Fractional Presence</label>
    <div class="col-sm-8">
      <input type="number" class="form-control" id="max_out_presence" name="max_out_presence"
             value="1.0" step="any" min="0" max="1" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="make_relative">Convert Abundance to Relative</label>
    <div class="col-sm-8">
      <div class="form-check">
	<input type="checkbox" class="form-check-input" id="make_relative" name="make_relative">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="quantile_normalize">Quantile Normalize</label>
    <div class="col-sm-8">
      <div class="form-check">
	<input type="checkbox" class="form-check-input" id="quantile_normalize" name="quantile_normalize">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="min_abundance">Minimum Abundance</label>
    <div class="col-sm-8">
      <input type="number" class="form-control" id="min_abundance" name="min_abundance"
             value="0" min="0" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label"><i>p</i>-Value Adjustment Method</label>
    <div class="col-sm-8">
      <div class="form-check">
        <label class="form-check-label">
	  <input class="form-check-input" type="radio" name="pvaladjmethod" value="bf">
          Bonferroni
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
	  <input class="form-check-input"  type="radio" name="pvaladjmethod" value="b-h" checked>
          Benjamini Hochberg
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input"  type="radio" name="pvaladjmethod" value="bf-h">
          Bonferroni-Holm
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
	  <input class="form-check-input"  type="radio" name="pvaladjmethod" value="none"> None
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="email">Email</label>
    <div class="col-sm-8">
      <input type="email" class="form-control" id="email" name="email"
             placeholder="user@domain.com" size="50">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
      <input type="submit" value="Calculate" class="btn btn-default">
    </div>
  </div>
</form>
{% endblock %}
